@using AgrifoodManagement.Web.Views.Presentation.Resources;

<section class="faq section-padding prelative" data-scroll-index="5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sectioner-header text-center">
                    <h3>@_FaqResources.Title</h3>
                    <span class="line"></span>
                    <p>@_FaqResources.Header</p>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-6 faq-content wow fadeInUp" data-wow-delay="0.2s">
                            <h4>@_FaqResources.Question1</h4>
                            <p>@_FaqResources.Answer1</p>
                        </div>
                        <div class="col-md-6 faq-content wow fadeInUp" data-wow-delay="0.2s">
                            <h4>@_FaqResources.Question2</h4>
                            <p>@_FaqResources.Answer2</p>
                        </div>
                        <div class="col-md-6 faq-content wow fadeInUp" data-wow-delay="0.4s">
                            <h4>@_FaqResources.Question3</h4>
                            <p>@_FaqResources.Answer3</p>
                        </div>
                        <div class="col-md-6 faq-content wow fadeInUp" data-wow-delay="0.4s">
                            <h4>@_FaqResources.Question4</h4>
                            <p>@_FaqResources.Answer4</p>
                        </div>
                        <div class="col-md-6 faq-content wow fadeInUp" data-wow-delay="0.6s">
                            <h4>@_FaqResources.Question5</h4>
                            <p>@_FaqResources.Answer5</p>
                        </div>
                        <div class="col-md-6 faq-content wow fadeInUp" data-wow-delay="0.6s">
                            <h4>@_FaqResources.Question6</h4>
                            <p>@_FaqResources.Answer6</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
