@using AgrifoodManagement.Web.Views.Presentation.Resources;

<section class="testimonial section-padding" data-scroll-index="4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sectioner-header text-center white">
                    <h3>@_TestimonialResources.Title</h3>
                    <span class="line"></span>
                    <p class="white">@_TestimonialResources.Header</p>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="offset-md-2 col-md-8 col-sm-12">
                            <div class="slider">
                                <div class="slider-item">
                                    <div class="test-img">
                                        <img src="images/user1.jpg" alt="Placeholder" width="157" height="157">
                                    </div>
                                    <div class="test-text">
                                        <span class="title">
                                            <span>@_TestimonialResources.Person1Name</span>@_TestimonialResources.Person1JobTitle
                                        </span>
                                        @_TestimonialResources.Testimonial1
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="test-img">
                                        <img src="images/user3.jpg" alt="Placeholder" width="157" height="157">
                                    </div>
                                    <div class="test-text">
                                        <span class="title">
                                            <span>@_TestimonialResources.Person2Name</span>@_TestimonialResources.Person2JobTitle
                                        </span>
                                        @_TestimonialResources.Testimonial2
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="test-img">
                                        <img src="images/user3.jpg" alt="Placeholder" width="157" height="157">
                                    </div>
                                    <div class="test-text">
                                        <span class="title">
                                            <span>@_TestimonialResources.Person3Name</span>@_TestimonialResources.Person3JobTitle
                                        </span>
                                        @_TestimonialResources.Testimonial3
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
